.case {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #BCCED9;
    color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.case img {
    aspect-ratio: 1;
    position: absolute;
}

.case::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #304859;
    transition: .3s;
    opacity: 1;
}

.case:hover::after {
    background-color: #6395B8;
}

.case.active::after,
.case.current::after {
    opacity: 0;
}

.case.current {
    background-color: #FDA214;
}